DD_API_KEY=

# DD_APP_KEY é opcional
DD_APP_KEY=
DATADOG_NAMESPACE=datadog
DD_VERSION=

PAYMENTS_URL=https://httpbun.com
KIND_CLUSTER_NAME=nest-lab
KIND_REGISTRY_NAME=kind-registry
KIND_REGISTRY_PORT=5001
VUS=5
DURATION=2m
